body{
    background-color: white;
    text-align: center;
}
.nav navbar-nav{
position: sticky;
top: 0;
z-index: 99999;
}

#campus_life{
    color: white;
}
#achievements{
    color: white;
}

#text-scuccess text-capitalize {
    color: white;
}

.movie_head {
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.movie_head i {
    float: right;
}
.school_achivements span {
    color: orange;
}
